@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<div id="content">
    <div class="row">
        <form action="@Url.Action("Buscar", "Buscar")">
            <input id="search" type="text" class="form-control" name="Nombre" placeholder="Buscar Artistas por Nombre">
            <button type="submit" class="btn btn-default">
                Buscar
            </button>
        </form>
    </div>
</div>
